<div class="dropdown" #trigger (click)="toggleDropdown()" (keydown.enter)="keyDownOpenMenu($event)" tabindex="0">
  <div class="dropdown__label">
    <span class="title" [class]="{ 'empty': !selectedOptionLabel() }">{{ selectedOptionLabel() || placeholder }}</span>
    <span class="arrow" [class.open]="overlayRef()"></span>
  </div>
</div>

<ng-template #dropdownTemplate>
  <div class="dropdown-menu" tabindex="-1" #dropdownMenu [style.width.px]="triggerWidth()">
    <div class="scrollbar" #scrollbar></div>
    <ul class="dropdown-list" #dropdownList
        (keydown.escape)="escapeClose()">
      @if (optional) {
        <li
          tabindex="0"
          (click)="selectOption(null)"
          (keydown.arrowDown)="focusNextOption($event)"
          (keydown.arrowUp)="focusPreviousOption($event)"
          (keydown.enter)="keyDownSelectOption(null)"
        >
          - - -
        </li>
      }
      @for (option of options; track option) {
        <li
          tabindex="0"
          (click)="selectOption(option)"
          (keydown.arrowDown)="focusNextOption($event)"
          (keydown.arrowUp)="focusPreviousOption($event)"
          (keydown.enter)="keyDownSelectOption(option)"
          [class.selected]="option.id === selectedOptionId()"
        >
          {{ option.label }}
        </li>
      }
    </ul>
  </div>

</ng-template>
