
<div class="container">
  <h1>Some test project</h1>

  <form class="options-form" [formGroup]="form">
    <div>
      <p>Emit value</p>
      <stp-dropdown
        [valueFn]="valueFn"
        [options]="options"
        (onSelection)="optionSelected($event)"
      ></stp-dropdown>
    </div>
    <div>
      <p>Using as form control</p>
      <stp-dropdown
        formControlName="control1"
        [options]="options"
      ></stp-dropdown>
    </div>
    <div>
      <p>5 items and scroll is not rendered</p>
      <stp-dropdown
        formControlName="control2"
        [options]="options5"
      ></stp-dropdown>
    </div>
  </form>
</div>
