@use "variables" as vars;

html {
  background-color: vars.$main-bg;
  color: vars.$color-primary;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.transparent-bg {
  background: transparent !important;
}
